.user-info .fa {
    cursor: pointer;
};

.user-info .fa:hover {
    color: #333;
}

a{
    text-decoration: none;
    color:white;
    text-align:right;
}

Button a{
    text-decoration: none;
    color:white;
    text-align:right;
}